@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rubik+Bubbles&display=swap');
nav {
    background-color: rgb(83, 143, 175);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    color: white;
}

#my-title {
    color: rgb(83, 143, 175);
    padding-left: 10px;
}
#title {
    padding-left: 10px;
}

body {
    margin: 0;
}

.container {
    display: flex;
}

h1 {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(83, 143, 175);
}

#account {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(83, 143, 175);
    padding-left: 10px;
}

h2 {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Itim", cursive;
    font-weight: 900;
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(83, 143, 175);


}

p {
    font-family: "Itim", cursive;
    font-weight: 100;
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.accountt {
    display: flex;
}

.balance {
    display: flex;
    flex-direction: row;
}

.bank {
    display: flex;
}

#Financial {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(83, 143, 175);
}

.bigbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.currency {
    display: flex;
    flex-direction: row;
}

.smallbox1 {
    width: 40%;
}

.smallbox2 {
    width: 40%;
}

textarea {
    min-width: 100%;
    min-height: 300px;
    resize: vertical;
}